@model ControleEmprestimo.Data.Models.Livro

@{
    ViewData["Title"] = "Details";
}

<h1 align="center">Detalhes dos livros</h1>
<div>
    <h3>Verifique os detalhes dos livros</h3>
    <hr />
    <div>
        <a class="btn btn-primary" asp-action="Index">Voltar a Livros</a>
        <a class="btn btn-danger" asp-action="Edit" asp-route-id="@Model.Id">Alterar Detalhes do Livro</a>
    </div>

    <div class="row">
        <div class="col-md">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div hidden class="form-group col-md">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" />
                </div>


                <div class="card">
                    <div align="center" style="position:center; font-style:normal;font-size:26px; background-color:aliceblue;" class="card-header"><h4>Informações dos Livros</h4></div>
                    <div class="card-body row">
                        @*colaca um formulario na frente do outro*@
                        <div class="col-md">
                            <div class="form-group">
                                <label> @Html.DisplayNameFor(model => model.LivroNome)</label>
                                <input disabled class="form-control" value=" @Html.DisplayFor(model => model.LivroNome)" />
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-group">
                                <label> @Html.DisplayNameFor(model => model.LivroAutor)</label>
                                <input disabled class="form-control" value=" @Html.DisplayFor(model => model.LivroAutor)" />
                            </div>
                        </div>
                    </div>
                </div>
                <br />


                <div class="card">
                    <div align="center" style="position:center; font-style:normal;font-size:26px; background-color:aliceblue;" class="card-header"><h4>Informações Técnicas dos Livros</h4></div>
                    <div class="card-body row">
                        @*colaca um formulario na frente do outro*@
                        <div class="col-md">
                            <div class="form-group">
                                <label> @Html.DisplayNameFor(model => model.LivroEditora)</label>
                                <input disabled class="form-control" value="  @Html.DisplayFor(model => model.LivroEditora)" />
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-group">
                                <label> @Html.DisplayNameFor(model => model.LivroAnoPublicacao)</label>
                                <input disabled class="form-control" value=" @Html.DisplayFor(model => model.LivroAnoPublicacao)" />
                            </div>
                        </div>

                    </div>



                    <div class="col-md">
                        <div class="form-group">
                            <label>  @Html.DisplayNameFor(model => model.LivroEdicao)</label>
                            <input disabled class="form-control" value="   @Html.DisplayFor(model => model.LivroEdicao)" />
                        </div>
                    </div>
                </div>
                <br />

                <!--<div class="card">
                    <div style="position:center; font-style:normal;font-size:26px; background-color:aliceblue;" class="card-header"><h4>EDÇÃO</h4></div>
                    <div class="card-body row">-->
                        @*colaca um formulario na frente do outro*@
                        <!--<div class="col-md">
                            <div class="form-group">
                                <label>  @Html.DisplayNameFor(model => model.LivroEdicao)</label>
                                <input disabled class="form-control" value="   @Html.DisplayFor(model => model.LivroEdicao)" />
                            </div>
                        </div>
                    </div>
                </div>-->
            </form>
        </div>
    </div>
</div>
