@model ControleEmprestimo.Data.Models.Livro

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes dos livros</h1>
<div>
    <h4>Verifique os detalhes dos livros</h4>
    <hr />

    <div>
        <a class="btn btn-danger" asp-action="Edit" asp-route-id="@Model.Id">Alterar</a>
        <a class="btn btn-primary" asp-action="Index">Voltar</a>
    </div>

    <div class="row">
        <div class="col-md">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div hidden class="form-group col-md">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" />
                </div>


                <div class="card">
                    <div class="card-header">Informações dos Livros</div>
                    <div class="card-body row">
                        @*colaca um formulario na frente do outro*@
                        <div class="col-md">
                            <div class="form-group">
                                <label> @Html.DisplayNameFor(model => model.LivroNome)</label>
                                <input disabled class="form-control" value=" @Html.DisplayFor(model => model.LivroNome)" />
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-group">
                                <label> @Html.DisplayNameFor(model => model.LivroAutor)</label>
                                <input disabled class="form-control" value=" @Html.DisplayFor(model => model.LivroAutor)" />
                            </div>
                        </div>
                    </div>
                </div>
                <br />

                <div class="card">
                    <div class="card-body row">
                        @*colaca um formulario na frente do outro*@
                        <div class="col-md">
                            <div class="form-group">
                                <label> @Html.DisplayNameFor(model => model.LivroEditora)</label>
                                <input disabled class="form-control" value="  @Html.DisplayFor(model => model.LivroEditora)" />
                            </div>

                            <div class="form-group">
                                <label> @Html.DisplayNameFor(model => model.LivroAnoPublicacao)</label>
                                <input disabled class="form-control" value=" @Html.DisplayFor(model => model.LivroAnoPublicacao)" />
                            </div>
                        </div>
                    </div>
                </div>
                <br />

                <div class="card">
                    <div class="card-header">Edção</div>
                    <div class="card-body row">
                        @*colaca um formulario na frente do outro*@
                        <div class="col-md">
                            <div class="form-group">
                                <label>  @Html.DisplayNameFor(model => model.LivroEdicao)</label>
                                <input disabled class="form-control" value="   @Html.DisplayFor(model => model.LivroEdicao)" />
                            </div>
                        </div>
                    </div>
                </div>
                <br />
            </form>
        </div>
    </div>
</div>
