@model IEnumerable<ControleEmprestimo.Data.Models.Livro>

@{
    ViewData["Title"] = "Index";
}

<h1 align="center">Lista de Livros</h1>
<p><a class="btn btn-primary" asp-action="Create">Cadastrar Novo Livro</a></p>

<table id="myTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LivroNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LivroAutor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LivroEditora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LivroAnoPublicacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LivroEdicao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LivroNome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LivroAutor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LivroEditora)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LivroAnoPublicacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LivroEdicao)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-success m-1" asp-route-id="@item.Id">Alterar</a>
                    <a asp-action="Details" class="btn btn-primary m-1" asp-route-id="@item.Id">Detalhes</a>
                    <a asp-action="Delete"  class="btn btn-danger m-1" asp-route-id="@item.Id">Delete</a>
                                     
                   
                    <!-- !!!!!!!!!!!!!!!Modal não funciona ver o java script -->
                    <!-- Button trigger modal -->
                    <!--<button type="button" class="btn btn-danger m-1" data-bs-toggle="modal" data-bs-target="#DeleteModal-@item.Id">
                        Excluir
                    </button>-->
                    <!-- Modal -->
                    <!--<div class="modal fade" id="DeleteModal-@item.Id" tabindex="-1" role="dialog" aria-labelledby="DeleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="DeleteModalLabel">Excluir Cliente</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Deseja realmente excluir o cliente @item.LivroNome?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                                    <a asp-action="Delete" class="btn btn-danger m-1" asp-route-id="@item.Id">Sim</a>
                                </div>
                            </div>
                        </div>
                    </div>-->


                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>

        $(document).ready(function () {
            $('#myTable').DataTable({

                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.25/i18n/Portuguese-Brasil.json"
                }
            });
        });

        ///* < !-- !!!!!!!!!!!!!!!Modal não funciona ver o java script-- >*/
        //var myModal = document.getElementById('DeleteModal-')
        //var myInput = document.getElementById('myInput')
        //myModal.addEventListener('shown.bs.modal', function () {
        //    myInput.focus()
        //});

    </script>
}